
#gallerix {
  margin-bottom: 10px;
}

a.gallerix-picture-link, a.gallerix-external-picture-link {
  outline: none;
  text-decoration: none;
}

a.gallerix-picture-link:hover, .gallerix-thumbnails-block a.gallerix-picture-link:hover, a.gallerix-external-picture-link:hover, .gallerix-thumbnails-block a.gallerix-external-picture-link:hover {
  background: none;
  text-decoration: none;
}

a.gallerix-thumbnail-link {
  margin: 0;
  display: inline;
}

a.gallerix-thumbnail-link.current {
  margin: 0;
}

img.gallerix-thumbnail {
  border: none;
}

img.gallerix-thumbnail.current {
  border: none;
}

a.gallerix-thumbnail-link:hover img.gallerix-thumbnail {

}

#gallerix-display {
  line-height: 0;
}

#gallerix-picture-links {
  clear: both;
  text-align: center;
  line-height: 0;
}

#gallerix-loader {
  clear: both;
  background-position: center;
  background-repeat: no-repeat;
}

img#gallerix-frame {
  border: none;
  display: block;
  margin: 0 auto;
}

.gallerix-album {
  text-align: center;
}

h4.gallerix-caption {
  color: white;
}

img.gallerix-list {
  float: left;
  clear: both;
  
}

.thumbnail-list .form-item {
  margin: 0 0 55px 0;
}

.view-gallery {
  line-height: 0;
}

.view-gallery a {
  outline: none;
}

.view-gallery img {
  float: left;
  margin: 0;
  background: url(images/empty_album.png) center no-repeat;
}
/************** Grid View Display ****************/

#gallerix-viewer {
}

#gallerix-grid {
  line-height: 0;
}

#gallerix-grid img.gallerix-thumbnail {
  margin: 0;
}

/******************** Blocks *********************/
.gallerix-thumbnails-block {
  line-height: 0;
}




